
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#container {
  height: 600px;
  width: 810px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  background-color: #fff;
}

#area {
  position:relative;
  float:left;
}

#overlay {
  position:absolute;
  float:left;
  height:399px;
  width:649px;
  border:none;
}

#inventory {
  position:relative;
  float:right;
  width:50px;
  height:397px;
  background-color:thistle;
  border:1px solid violet;
}

.inv_obj {
  position:relative;
  width:30px;
  height:25px;
  left:10px;
  margin-top:10px;
  background-color:blue;
  text-align:center;
  padding-top:5px;
  border:1px solid black;
}

#stats{
  position:relative;
  float:left;
  height:150px;
  background-color:none;
  opacity:0.8;
  border:none;
}

#bar{
  position:relative;
  border:1px solid black;
  height:15px;
  margin-left:10px;
  margin-top:5px;
  transition: width 1s;
  -webkit-transition: width 1s;
  background-color:white;
}

.health{
  height:15px;
  background-color:red;
  transition: width 1s;
  -webkit-transition: width 1s;
}

.mana{
  height:15px;
  background-color:blue;
  transition: width 1s;
  -webkit-transition: width 1s;
}

#sample_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
}

#instructions {
  position: relative;
  height: 400px;
  width: 500px;
  border: none;
  float: left;
  padding-left: 10px;
}

#form {
  position: relative;
  
  width  : 200px;
  height : 30px;
  float: left;
  
}

#button {
  
   position: relative;
   float: left;
   
}
