
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#container {
  height: 600px;
  width: 810px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  background-color: #fff;
}

#area {
  position:relative;
  float:left;
}

#overlay {
  position:absolute;
  float:left;
  height:599px;
  width:809px;
  border:none;
  cursor:default;
  overflow:hidden;
}

#inventory {
  position:relative;
  float:right;
  left:900px;
  top:29px;
  height:389px;
  width:550px;
  background-color:#AD8533;
  border:1px solid #663300;
  opacity:0.8;
  overflow:hidden;
  transition: left 2s;
  -webkit-transition: left 2s;
}

#equipment {
  position:relative;
  float:left;
  width:65px;
  height:389px;
  border-right:1px solid #663300;
}

#backpack{
  position:relative;
  float:right;
  width:480px;
  height:389px;
}

.bp_obj {
  float:left;
  position:relative;
  margin-top:15px;
  margin-left:15px;
  height:30px;
  width:30px;
  border:1px solid black;
}

#bottom-bar {
  position:absolute;
  bottom:0;
  width:100%;
  height:148px;
  background-color:#AD8533;
  border:1px solid #663300;
  overflow:hidden;
  opacity:1;
}

#chat {
  border:1px solid #663300;
  background-color:red;
  position:relative;
  float:left;
  margin-left:15px;
  margin-top:5px;
  width:350px;
  height:144px;
  text-align:center;
}

.nav {
  position:relative;
  float:right;
  margin-right:50px;
  border:none;
  background-color:none;
  margin-top:5px;
  height:35px;
  border-spacing:25px 0px;
  border-collapse:separate;
}

.nav td {
  background-color:yellow;
  border:1px solid #663300;
  height:35px;
  width:35px;
  text-align:center;
}

.hotbar {
  position:relative;
  float:right;
  margin-right:40px;
  height:110px;
  width:370px;
  overflow:hidden;
}

.hotbar table{
  margin-top:3px;
  border-spacing:15px 5px;
  border-collapse:separate;
  border:1px solid black;
  height:40px;
  width:370px;
  border:1px solid #663300;
  background-color:#C9AB6B;
}

.hotbar td{
  position:relative;
  text-align:center;
  table-layout:fixed;
  height:35px;
  width:35px;
  padding:0;
}

.empty {
  background-color:#998251;
  border:none;
  border:1px solid #857148;
}

#stats{
  position:relative;
  float:left;
  background-color:none;
  opacity:0.8;
  border:none;
}

#bar{
  position:relative;
  border:1px solid black;
  height:15px;
  margin-left:10px;
  margin-top:5px;
  transition: width 1s;
  -webkit-transition: width 1s;
  background-color:white;
}

.health{
  height:15px;
  background-color:red;
  transition: width 1s;
  -webkit-transition: width 1s;
}

.mana{
  height:15px;
  background-color:blue;
  transition: width 1s;
  -webkit-transition: width 1s;
}

#sample_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
}

#instructions {
  position: relative;
  height: 400px;
  width: 500px;
  border: none;
  float: left;
  padding-left: 10px;
}

#form {
  position: relative;
  width  : 200px;
  height : 30px;
  float: left;
}

#button {
   position: relative;
   float: left;
}
