
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#container {
  width: 100%;
  overflow: hidden;
}

#area, #gui {
  float: left;
  display: inline;
}

#gui {
  margin-left: 10px;
  width: 200px;
  height: 400px;
  padding: 5px;
}
